<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>logback</contextName>
    <springProperty scope="context" name="indexName" source="spring.application.name"/>
    <property name="logEntity.path" value="C:/Users/prometheus/Desktop"/>
    <property name="host" value="127.0.0.1"/>
    <property name="port" value="9200"/>


    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
             <level>ERROR</level>
         </filter>-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger [%X{localIP}] [%X{requestId}] %msg%n</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logEntity.path}/logback.%d{yyyy-MM-dd}.logEntity</fileNamePattern>
            <!--            30天-->
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger [%X{localIP}] [%X{requestId}] %msg%n</pattern>
        </encoder>
    </appender>

    <appender class="com.best.java.log.EsAppender" name="ELASTIC">

        <host>${host}</host>

        <port>${port}</port>

        <indexName>${indexName}</indexName>

    </appender>

    <root level="debug">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
        <appender-ref ref="ELASTIC"/>
    </root>

    <!--    对于sql打印的debug，可以单独再配置一个级别-->
    <!-- 该路径下级别为INFO，不设置级别则默认继承root级别 -->
    <logger name="com.best.java" level="info" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
        <appender-ref ref="ELASTIC"/>
    </logger>

    <!--logback.LogbackDemo：类的全路径 -->
    <logger name="com.best.java.mybatis.mappers" level="debug" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>
    <logger name="org.mybatis.spring" level="debug" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>
    <logger name="org" level="error" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
        <appender-ref ref="ELASTIC"/>
    </logger>
    <logger name="springfox" level="error" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
        <appender-ref ref="ELASTIC"/>
    </logger>
    <logger name="com.netflix" level="error" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
        <appender-ref ref="ELASTIC"/>
    </logger>
</configuration>